---
import { partition } from "../../../utils/partition";
import type { ResponseData } from "../../../utils/analyse";

interface Props {
  results: ResponseData["results"];
}

const { results } = Astro.props;

const [allowedBots, blockedBots] = partition(results, (item) => item.allowed);
---

<div class="wrapper">
  <div>
    <h5>Allowed:</h5>

    {
      allowedBots.length === 0 ? (
        <p>No known AI bots are permitted to crawl your website 😎.</p>
      ) : (
        <>
          <p>
            The following bots are permitted to crawl your content.
            <em>
              <a href="#fix">Fix it.</a>
            </em>
          </p>
          <ul class="bot-list">
            {allowedBots.map((bot) => (
              <li>
                <span>
                  <code>🤖 {bot.name}</code>
                </span>
              </li>
            ))}
          </ul>
        </>
      )
    }
  </div>
  <div>
    <h5>Blocked:</h5>
    {
      blockedBots.length === 0 ? (
        <>
          <p>
            <span>You have not blocked any AI crawlers.</span>
            <em>
              <a href="#fix">Fix it.</a>
            </em>
          </p>
        </>
      ) : (
        <>
          <p>
            You have requested the following bots not to index your content ✅.
          </p>
          <ul class="bot-list">
            {blockedBots.map((bot) => (
              <li>
                <span>
                  <code>
                    <span class="overlap">❌</span>🤖 {bot.name}
                  </code>
                </span>
              </li>
            ))}
          </ul>
        </>
      )
    }
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .wrapper > div {
    border: 1px solid lightgray;
    padding: 0 1rem;
  }

  h5 {
    margin-bottom: 0;
  }

  .overlap {
    position: absolute;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  li {
    padding: 0.25rem 0.5rem;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 8px 4px 0px;
  }
</style>
