---
import type { ResponseData } from "../../../utils/analyse";
import Details from "./Details.astro";
import RobotsTxtExample from "./RobotsTxtExample.astro";

interface Props {
  data: ResponseData;
}

const { data } = Astro.props;
---

<span>
  <small>
    Results for:{" "}
    <code>
      <strong>{data.url}</strong>
    </code>
  </small>
  <small>
    <a href="/">(search again)</a>
  </small>
</span>
{
  data.isCrawlableByAi ? (
    <h1 class="warning">🚨 AI can steal your shit!</h1>
  ) : (
    <h1 class="success">✅ AI is not allowed to steal your shit!</h1>
  )
}
<Details results={data.results} />
{data.isCrawlableByAi && <RobotsTxtExample results={data.results} />}
