---
import { Code } from "astro-expressive-code/components";
import type { ResponseData } from "../../../utils/analyse";

interface Props {
  results: ResponseData["results"];
}

const { results } = Astro.props;

const filteredResults = results.filter((result) => result.allowed);
---

<p id="fix">
  Disallow bots by copying the code below and adding it to your website's
  <code>robots.txt</code> file:
</p>

<Code
  lang="txt"
  title="robots.txt"
  code=`
# ^ your robots.txt content

${filteredResults.map((result) => ('User-agent: ' + result.name + '\nDisallow: /')).join('\n\n')}
`
/>
