---
// import aboutImg from "@/assets/about-astro.png";
import SearchForm from "../components/SearchForm.astro";
import Layout from "../layouts/Layout.astro";
// import { Image } from "astro:assets";

const meta = {
  description: "Oops! You found a missing page!",
  title: "Not found",
};
---

<Layout meta={meta}>
  <main>
    <div>
      <h1>Oops, we couldn't find that page.</h1>

      <p>Go <a href="/">home</a> or enter a URL below.</p>

      <SearchForm />

      <p>Questions? <a href="/faq">View FAQ page</a></p>
    </div>
  </main>
</Layout>
