---
import Layout from "../layouts/Layout.astro";
import Results from "../components/analysis/results/Results.astro";
import { analyse } from "../utils/analyse";
import SearchError from "../components/analysis/SearchError.astro";

const analysisUrl = Astro.url.searchParams.get("url");

if (!analysisUrl) {
  return Astro.redirect("/");
}

const analysisResp = await analyse(analysisUrl);

const meta = {
  title: "Analysis of " + analysisUrl,
};

export const prerender = false;
---

<Layout meta={meta}>
  <main>
    <div>
      {
        analysisResp.success ? (
          <Results data={analysisResp.data} />
        ) : (
          <SearchError error={analysisResp.error} />
        )
      }
    </div>
  </main>
</Layout>
