---
import Layout from "../layouts/Layout.astro";
import SearchForm from "../components/SearchForm.astro";
const meta = { title: "Home" };
---

<Layout meta={meta}>
  <main>
    <div>
      <h1>Don't let AI steal your shit 🤖!</h1>
      <p>
        AI crawlers can index and display your content to users without
        attributing it to you. <em>Don't give your work away for free!</em>
      </p>
      <hr />

      <p>
        Enter the URL of your website to see if AI bots are permitted to crawl
        your content.
      </p>

      <SearchForm />

      <p>Questions? <a href="/faq">View FAQ page</a></p>
    </div>
  </main>
</Layout>
