<footer>
  <span>© Blake Lundquist 2024</span>
  |
  <a href="/faq">FAQ</a>
  |
  <a
    target="_blank"
    rel="nofollow noopener"
    href="https://developers.google.com/search/docs/crawling-indexing/robots/intro"
    >More info regarding robots.txt &rarr;</a
  >
</footer>
