<header>
  <nav>
    <a href="/" class="site-title">Can AI Steal My Shit?</a>
    <div>
      <a class="secondary" href="/bots">List of bots</a>
      <a class="secondary" href="/faq">FAQ</a>
    </div>
  </nav>
</header>
