<form action="/analysis" method="get">
  <input
    type="url"
    placeholder="https://yourwebsite.com"
    id="url"
    name="url"
    required="true"
  />
  <input type="submit" value="Submit" />
</form>
