---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

type SiteMeta = {
  title: string;
  description?: string;
  ogImage?: string;
  articleDate?: string;
};

interface Props {
  meta: SiteMeta;
}

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...meta} />
  </head><body>
    <Header />
    <slot />
    <Footer />
    <script
      is:inline
      src="https://blanalytics.vercel.app/stats.js"
      data-ackee-server="https://blanalytics.vercel.app"
      data-ackee-domain-id="5f1d4dc3-da4a-4043-8d58-bd2ec51a665d"></script>

    <style is:global>
      :root {
        --color-warning: #d70000;
        --color-success: green;
      }

      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 70vh;
      }

      body > header > :only-child {
        margin-block-start: 0;
        padding-left: 0;
      }

      body > header {
        padding: 0;
        border-bottom: 1px solid #ddd;
      }

      body > header nav {
        width: 90%;
        max-width: 45rem;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      body > header nav a {
        margin-left: 0;
        margin-right: 0;
      }

      body > header nav a.site-title {
        text-transform: uppercase;
        font-weight: 900;
        word-spacing: -0.075rem;
        padding: 0;
        border: 0;
      }

      body > header nav a.secondary {
        border: none;
        padding: 0;
        text-decoration: underline;
        color: var(--accent);
      }

      body > header nav a.secondary:hover {
        text-decoration: none;
      }

      .warning {
        color: var(--color-warning);
      }

      .success {
        color: var(--color-success);
      }

      main > div {
        width: 100%;
      }

      ul.botlist {
        list-style: none;
        padding: 0;
      }

      form {
        position: relative;
      }

      form input.error {
        border-color: var(--color-warning);
      }

      form .error-message {
        position: absolute;
        bottom: -1rem;
        font-size: 1rem;
        color: var(--color-warning);
        font-weight: 500;
      }
    </style>
  </body>
</html>
